
#mainMenuScene {
    -fx-background-image: url("../images/main_menu_background.jpg");
    -fx-background-size: cover;
}

#loginPageScene {
    -fx-background-image: url("../images/loginPageBG.jpg");
    -fx-background-size: cover;
}

#gameMenuScene {
    -fx-background-image: url("../images/profileMenuBG.png");
    -fx-background-size: cover;
}

#profileMenuScene {
    -fx-background-image: url("../images/profileMenuBG.png");
    -fx-background-size: cover;
}

#scoreboardScene {
    -fx-background-image: url("../images/scoreboard_background.jpg");
    -fx-background-size: cover;
}

#technologyTreeScene {
    -fx-background-image: url("../images/profileMenuBG.png");
    -fx-background-size: cover;
}

Line {
    -fx-stroke: 3;
    -fx-background-color: #000000;
}

Button {
    -fx-cursor: hand;
    -fx-background-radius: 15;
    -fx-background-color: #ee8000;
    -fx-text-fill: white;
    -fx-pref-height: 35;
    -fx-pref-width: 150;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
}

Button:hover {
    -fx-background-color: black;
    -fx-text-fill: #ee8000;
}


TextField, PasswordField {
    -fx-pref-height: 35;
    -fx-pref-width: 300;
}

Text {
    -fx-font-size: 20;
}

ImageView {
    -fx-cursor: hand;
}

.sceneTitle {
    -fx-font-family: "AppleMyungjo";
    -fx-font-size: 70;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
