#background{
    -fx-background-image: url("../images/loginPageBG.jpg");
    -fx-background-size: cover;
}

Button {
    -fx-cursor: hand;
    -fx-background-radius: 15;
    -fx-background-color: #ee8000;
    -fx-text-fill: white;
    -fx-pref-height: 35;
    -fx-pref-width: 150;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
}

Button:hover {
    -fx-background-color: black;
    -fx-text-fill: #ee8000;
}

TextField, PasswordField{
    -fx-pref-height: 35;
}

Text{
    -fx-font-size: 20;
}